* {
  margin: 0;
  padding: 0;
}

/* Styling for header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;

  background-color: limegreen;
}

.logo {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 2rem;
}

nav {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

nav > a {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  text-decoration: none;
}

/* styling for main */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-grow: 1;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 4rem;
  color: black;
  font-weight: bold;
  background-color: cornsilk;
  border-radius: 2rem;
  padding: 1rem;
  margin-top: 3rem;
  opacity: 0.75;
}

.welcome {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  background-color: cornsilk;
  width: 60rem;
  border-radius: 2rem;
  padding: 3rem;
  opacity: 0.75;
}

button {
  background-color: orange;
  border: 0.2rem solid gray;
  border-radius: 2rem;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.9rem;
  margin-bottom: 4rem;
}

button:hover {
  background-color: orangered;
}

footer {
  height: 2.25rem;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  background-color: cornsilk;
}
